
.bg {
  width: 100vw;
  height: 100vh;
  background-image: url("https://img.freepik.com/premium-photo/top-view-online-shopping-concept-with-credit-card-smart-phone-computer-isolated-office-yellow-table-background_315337-5991.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
